<md-dialog aria-label="auth" flex-gt-sm="30" flex="100" ng-cloak>
  <div class="authForm" layout="column">
    <form>
      <md-dialog-content>
        <div layout="column">
          <md-input-container class="md-block">
            <md-icon class="material-icons">email</md-icon>
            <label>Email</label>
            <input ng-model="auth.email" type="email">
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-dialog-actions" layout="column">
        <md-button type="submit" class="authButton" flex="100" ng-click="doAuth()">
         Sign In
        </md-button>
        <md-button class="authButton" flex="100" ng-click="dialogClose()">
         Close
        </md-button>
      </div>
    </form>
  </div>
</md-dialog>
